* {
    box-sizing: border-box;
}
@import url(//db.onlinewebfonts.com/c/96092db40c3de99f4a5298fe02b82e27?family=Galano+Grotesque);
html, body {
    margin: 0;
    padding: 0;
    font-family: 'galano grotesque';

}

.navbar {
    margin: 0;
    padding-top: 5px;
}


.center-items {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: fit-content;
    position: relative;
    z-index: 1;
    margin-top: 15%;
}

.google {
    font-family: 'galano grotesque';
    font-size: 60px;
    text-shadow: 2.5px 2.5px 4px #000;
}

.enter-button {
    border-radius: 4px;
}